/*module's classname change*/
.sketch-picker{
    box-shadow: none !important;
}
.text-shadow { 
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #C8C8CB;
    margin-left: 4px;
}
.flexbox-fix label {
    display: none !important;
}
.flexbox-fix input {
    display: none;
}
.flexbox-fix div span div {
    height: 24px !important;
    width: 24px !important;
    border-radius: 50% !important;
    margin: unset !important;
    padding: unset !important;
}
.flexbox-fix div div div div div {
    height: 12px !important;
    width: 12px !important;
    border-radius: 50% !important;
    transform: translateY(-1px) translateX(-4px) !important;
    overflow: visible;
}
.saturation-white div div {
    height: 16px !important;
    width: 16px !important;
    transform: translateY(-8px) translateX(-8px) !important;
}