.tooltip {
    position: relative;
    display: inline;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8.8px 7.5px 6.1px 7.5px;
    position: absolute;
    z-index: 9999;
    top: 150%;
    left: 50%;
    margin-left: -30px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 28.3%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}